<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eventapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventApp"
        tools:targetApi="31">

        <!--  HomeActivity: Launch Screen -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  LoginActivity (opened from "Getting Started" button) -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login" />

        <!-- Other activities can go below this line -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>
